<div class="row"><div class="span4 offset4">
  <h2 class="center">Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
<table class="login">
  <tr class="shade3">
    <td class="leadin">
      <%= f.label :email %>
    </td>
    <td class="main">
      <%= f.email_field :email, :autofocus => true %>
    </td>
  </tr>
  <tr class="shade3 last-child">
    <td></td>
    <td class="links">
      <%= f.submit "Send me reset password instructions", :class => "btn" %>
    </td>
  </tr>
</table>
<% end %>
<br>
<%= link_to "Back Home", "/" %>
</div></div>