<div class="slide">
  <div class="row grayed">
    <div class="span7">
      <h2 class='banner'>A <span class="green">simple</span>, <span class="blue">collaborative</span>, and <span class="orange">efficient</span> tool for planning events in the church life.</h2>
    </div>
    <div class="span5">
      <div class="box">
        <h2>Sign up now!</h2>
        <%= link_to "Sign up.", "/users/sign_up", :class => "btn btn-large btn-custom" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <br><br><br>
      <h2 class='center howtouse'><a>Instructions:</a></h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 instructions">
    <div class="slide" id="sc1">
      <h2>Step 1: Create an event from a template</h2>
      <div class="lar">Left and Right to Navigate</div>
      <h3>My Templates</h3>
      <div id="create-event"></div>
    </div>
    <div class="slide" id="sc2">
      <h2>
        Step 2: Assign items to people
      </h2>
      <div class="lar">Left and Right to Navigate</div>
      <div id="assign-items"></div>
    </div>
    <div class="slide" id="sc3">
      <h2>Step 3: Fill in the Results</h2>
      <div class="lar">Left and Right to Navigate</div>
      <div id="fill-in-results"></div>
    </div>
    <div class="slide" id="sc4  ">
      <h2>
        Step 4: Check items off.
      </h2>
      <div class="lar">Left and Right to Navigate</div>
      <div id="check-items"></div>
    </div>
    <div class="slide" id="sc5">
      <h2>Get started! <br><br>
      <%= link_to "Sign up.", "/users/sign_up", :class => "btn btn-large btn-custom" %></h2>      
      
    </div>
  </div>

  <br><br><br>
<script type="text/javascript">
Eventplanner.contacts = <%= render "/home/contacts.js" %>;
Eventplanner.user = {
  "name" : "A test user",
  "email" : "test@churchlifeeventplanner.org",
  "id" : 0
}
var deck;
$(function() {
  // Blog is the app name
  window.router = new Eventplanner.Routers.Home({
    introTemplates: <%= render "/home/introTemplate.js" %>,
    assignItemEvents: <%= render "/home/introEvents.js", :id => "assign-items" %>,
    fillInEvents: <%= render "/home/introEvents.js", :id => "fill-in-events" %>,
    checkEvents: <%= render "/home/introEvents.js", :id => "check-events" %>
  });

  Backbone.history.start();
  
  deck = new $.scrolldeck({
    slides: '.slide',
    duration: 600,
    easing: 'easeInOutExpo',
    offset: 0
  });

  <%= render "/home/changes.js" %>

  $('body').chardinJs();

  $(".howtouse").click(function() {
    $(window).scrollTo('#sc1', {
        duration: 600
      });
  })
});

</script>