<% content_for :header do %>
  <%= render "/layouts/navhome" %>
  <%= render "/layouts/login" %>
<% end %>  
<%= render 'layouts/messages' %>
<div class="container content" id="section-body">
</div>

<script type="text/javascript">
  Eventplanner.contacts = <%= @contacts.to_json.html_safe %>;
  Eventplanner.user = <%= @user ? @user.to_json(only: ['name', 'email', 'id']).html_safe : 'null' %>;
  $(function() {
    // Blog is the app name
    window.router = new Eventplanner.Routers.Events({
      events: <%= @events.as_json(include: { items: {}, owner: { only: ['name', 'email', 'id']}}).to_json.html_safe -%>,
      templates: <%= @templates.as_json(:include => :items).to_json.html_safe -%>
    });

    Backbone.history.start();
  });
</script>