<header>
  <div class="header">
    <%= render "navevents" %>
    <%= render "/layouts/login" %>
  </div>
  <%= render 'layouts/messages' %>
</header>
<br>
<div class="container content" id="section-body">
</div>

<script type="text/javascript">
  Eventplanner.contacts = <%= @contacts.to_json.html_safe %>;
  $(function() {
    // Blog is the app name
    window.router = new Eventplanner.Routers.Events({events: <%= @events.to_json(:include => :items).html_safe -%>});

    Backbone.history.start();
  });
</script>