<td><%= description %></td>
<td><%= result %></td>
<td><%= completed_by %></td>
<td><%= days_before %></td>
<td><%= parent %></td>
<td><%= person_in_charge %></td>
<td><%= status %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>