<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Result:</b>
  <%= result %>
</p>

<p>
  <b>Completed by:</b>
  <%= completed_by %>
</p>

<p>
  <b>Days before:</b>
  <%= days_before %>
</p>

<p>
  <b>Parent:</b>
  <%= parent %>
</p>

<p>
  <b>Person in charge:</b>
  <%= person_in_charge %>
</p>

<p>
  <b>Status:</b>
  <%= status %>
</p>


<a href="#/index">Back</a>