<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Event Planner" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Event Planner" %>">
  <%= stylesheet_link_tag "events", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= render "/layouts/login2" %>
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div id="section-head">
        <h2 class="center size-title"><span class="abril">Church Life</span> <span class="open-sans"> Event Planner</span></h2>
        <div class="center divider">–––– <i class="icon-asterisk"></i> ––––</div>
      </div>
    </div>
    <div class="messages pure-u-1">
        <%= render '/layouts/messages', :flash => flash %>
    </div>
    <%= yield %>
    <footer>
      <br><br><br><br>
    </footer>
  </div>
</body>
</html>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
